#   WIFI CREDENTIALS
WIFI_SSID_1=YourSSID1
WIFI_PASSWORD_1=YourPassword1
WIFI_SSID_2=YourSSID2
WIFI_PASSWORD_2=YourPassword2

#   THINGSPEAK
TS_API_KEY=YourTSAPIKey
TS_HOST=api.thingspeak.com
TS_PORT=80
# TS_SYNC_INTERVAL=300000

DEVICE_ID=mush2_001

#   LOCALHOST DB
DB_USER     =postgres
DB_HOST     =localhost
DB_NAME     =namedb
DB_PASSWORD =passworddb
DB_PORT     =5432
DATABASE_URL=postgresql://postgres:passworddb@localhost:5432/passworddb

#   PASSWORD JWT
JWT_SECRET =secretPassword123

#   MQTT (opcional — por defecto test.mosquitto.org:1883)
# MQTT_BROKER=mqtt://tu-broker.local:1883
# MQTT_BROKER_FALLBACK=mqtt://broker.hivemq.com:1883
